/* index.css */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply  min-h-screen flex flex-col font-nunito;
}
 

main {
  @apply h-full grow;
  /* grow : permet au <main> de prendre tout l'espace vertical disponible */
}

@layer components {
  
  /* Labels */
  .form-label {
    @apply font-bold text-gray-700 font-nunito block mb-2;
  }

  /* Champs de saisie (input, textarea, select) */
  .form-input {
    @apply w-full p-3 border border-gray-200 rounded-xl outline-none bg-white transition-all
           focus:ring-2 focus:ring-primary/20 focus:border-primary;
  }
  
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}