/* theme.css */

@theme {
    /* Fuchsia Blue 700 */
    /* https: //uicolors.app/generate/704ee7 */
    --color-primary: #704ee7;
    --color-primary-200: #d9d8fc;
    --color-primary-700: ##5730d1;

    /* Perano 300 */
    --color-secondary: #b2c9ff;
    --color-secondary-200: #b2c9ff;
    --color-secondary-600: #b2c9ff;

    /* Pastel Green 300 */
    --color-success: #71e89d;
    --color-success-200: #bdf5d1;
    --color-success-600: #1a9f4c
        /* Wild Watermelon 400 */
        --color-error: #ff5e73;
    --color-error-200: #ffccd2;
    --color-error-600: #e71742;

    /* Goldenrod 300 */
    --color-accent: #ffd35e;

    /* Tuatara Gray */
    --color-gray-50: #fafafa;
    --color-gray-100: #f5f5f5;
    --color-gray-200: #e6e6e6;
    --color-gray-300: #d3d3d3;
    --color-gray-400: #a3a3a3;
    --color-gray-500: #727272;
    --color-gray-600: #535353;
    --color-gray-700: #3b3b3b;
    /* main text */
    --color-gray-800: #272727;
    --color-gray-900: #1a1a1a;
    --color-gray-950: #0b0b0b;

    /* White */
    --color-background: #f2f2f2;
    /* * Font */
    --font-nunito: 'Nunito', 'sans-serif'

}